.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App > video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.App-socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
  z-index: 2;
  margin-bottom: 64px;
}

.App-socials > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-socials > div > a,
.App-socials > div > button {
  width: 64px;
  text-align: center;
}

.App-socials > div > button {
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .App-socials {
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  .App-socials > div > a,
  .App-socials > div > button {
    width: 32px;
  }
}
